<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<body>
    {% if user.is_authenticated %}
    <ul>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/">Home</a></li>
        <hr>
    </ul>
    {%else%}
    <ul>
        <li><a href="/auth/login">login</a></li><br>
        <li><a href="/auth/signup">signup</a></li>
        <hr>
    </ul>
    {% endif %}
    {%block content%} {%endblock%}
</body>
</html>